.DepModal{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}
.DepModalMain{
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.DepModalMainP{
    width: 260px;
    margin-left: 20px;
}
.DepModalMainP p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}
.DepModalMainBtn{
    height: 40px;
    background-color: #dbdbdb;
    border-radius: 7px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}
.DepositSelect{
    width: 100%;
    height: 40px;
    border: 1px solid #fff000;
    padding-left: 15px;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 5px;
    opacity: 0.9;
    background-color: #fff;
}